<!DOCTYPE html>
<html lang ="en">    
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <h1>About the task</h1>
        <a href="/">Home</a>
        <br>
        <a href="add_game">Add a game</a>
        <br>
        <a href="search_games">Search games</a>
        <p style="color:rgb(0, 4, 255)">The aim of the task was to create an API that has POST and GET methods.</p>
        <h1> Technologies we used
        </h1>
        <p style="color:rgb(0, 4, 255)">We decided to use MongoDB as our database due to it's high usage on the platform and felt
            we may be able to learn some skills that would become more valuable when we eventually enter our teams.
        </p>
    </body>
</html>

