<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Our Games Library</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <meta charset="utf-8">    
    </head>
    <body>
        <a href="about">About this project</a>
        <br>
        <a href="add_game">Add a game</a>
        <br>
        <a href="search_games">Search games</a>
        <h1>Welcome to Our Games Library</h1>
        <p>Our Games Library, where you tell us a game name... And we can just... Look at it. :| I guess. <br /> Anyway, select an option in the menu above.</p>
    </body>
</html>