<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <meta charset="utf-8">    
    </head>
    <body>
        <a href="about">About this project</a>
        <br>
        <a href="add_game">Add a game</a>
        <br>
        <a href="search_games">Search games</a>
        <h1>Search For A Title</h1>
        <p>How do you do fellow kids? Search for a game to see if it is in our library!</p>
        <p>... What do you mean "fellow kids" isn't cool? This guy is super cool: </p>
        <img src="https://media.giphy.com/media/JTzPN5kkobFv7X0zPJ/giphy.gif" />
        <a href="about.html"></a> <br /><br />
        <form name="searchform" method="POST">
            Title: <input type="text" name="searchedtitle"> <br /><br />
            <br />OR<br />
            Star-Rating: <input type="number" min="0" max="5" value="0"/>
            <input type="submit" name="searchsubmitbutton">
        </form>
    </body>
</html>


